body {
    font-family: 'Comfortaa', cursive !important;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7ad7ff;
    color: #001f3f;
}

a {
    color: #001f3f;
}

nav {
    background: #7ad7ff;
    box-shadow: 0 5px 7px 1px rgba(0,0,0, 0.3);
    
}

.navbar {
    padding: 10px 50px;
}

.nav-link {
    padding-left: 40px!important;
}

i {
    font-size: 22px;
}

footer {
    padding: 10px 0;
    font-size: 17px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// CANVAS */

#tab {
    margin: 0 0 50px 0;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// PLAYERS */

#players {
    padding: 15px;
    border-radius: 50px;
    background: #7ad7ff;
    box-shadow:  20px 20px 60px #68b7d9, 
             -20px -20px 60px #8cf7ff;
}

canvas {
    padding: 10px;
    border-radius: 50px;
    background: #7ad7ff;
    box-shadow:  20px 20px 60px #68b7d9, 
                -20px -20px 60px #8cf7ff;
}

button {
    padding: 10px;
    border-radius: 50px;
    background: #7ad7ff;
    box-shadow:  20px 20px 60px #68b7d9, 
                -20px -20px 60px #8cf7ff;
}
button:hover {
    padding: 10px;
    border-radius: 50px;
    background: linear-gradient(145deg, #6ec2e6, #83e6ff);
    box-shadow:  20px 20px 60px #68b7d9, 
             -20px -20px 60px #8cf7ff;
}