body {
    font-family: 'Comfortaa', cursive !important;
}

h1 {
    color:red;
}

nav {
    background-color: #105aff;
    box-shadow: 0 5px 7px 1px rgba(0,0,0, 0.3);
}

li, a{
    color: #fff;
}

a:hover {
    color: #105aff;
}

footer {
    background-color: #00dde2;
    box-shadow: 0 5px 5px 7px rgba(0,0,0, 0.3);
}